body {
  font-family: poppins;
  margin: 0;
  padding: 0;
}

.row-nyc {
  display: flex;
  padding: 50px 60px;
}
.column-nyc {
  flex: 1;
  width: 50%;
}

@media screen and (max-width: 600px) {
  .row-nyc {
    padding: 20px 40px;
  }
  .column-nyc {
    width: 100%;
    margin-top: 10px;
  }
  .row-nyc,
  .column-nyc {
    display: block;
  }
}

.column-nyc:first-child {
  padding-right: 30px;
}

iframe,
object,
embed {
  max-width: 100%;
  max-height: 100%;
}

h1 {
  color: #043484;
}

.learn-more {
  text-transform: uppercase;
  text-decoration: none;
  color: white;
  background: #fa6506;
  padding: 10px 30px;
  margin: 10px 0;
  float: right;
}
p {
  text-align: justify;
}
